.footer {
    padding: 15rem 0 4rem 0;
    color: rgb(199, 186, 243);
    background-image: url("../asset/footer.svg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* max-width: 1960px */
}
.footer h3{
    text-align: left;
}
.footer .footer-container{
    /* padding: 2rem 0 2rem 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-container div a svg{
    width: 25px;
    height: 25px;
    margin: 0.5rem;
}
.footer-container-wrap{
    margin: 0 0.4rem;
}
@media (max-width: 1080px) {
    .footer-container-wrap{
        margin: 0 4rem;
    }

  }
@media (max-width: 768px) {
    .footer .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer .footer-container div{
        padding: 1rem 0;
    }
    .footer h3{
        text-align: center;
    }

}