.heading{
  background: radial-gradient(at top left, rgb(40, 9, 90) 0%, #5809b3c0 100%);
  background-repeat: no-repeat;
  height: 100vh;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.home-container {
    font-family: "Varela Round", sans-serif;
    display: flex;
    color: white;
    flex-direction: row;
    height: 100%;
    padding: 1rem;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /* background: #00b7ff; */
  }
  
  .content-container {
    width: 50vw;
    height: 100%;
    flex-direction: column;
    display: flex;
    padding: 1.8rem;
    margin-top: 3rem;
    justify-content: center;
  }
  .main-content {
    font-size: 2.5rem;
  }
  .welcome-content {
    color: gray;
  }
  .skill-content {
    margin: 0.6rem 0;
    color: #9c72be;
    font-family: "Varela Round", sans-serif;
  
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  .skill-animation {
    height: 60px;
    width: 100%;
    margin: 1rem 0;
  }
  .svg-container {
    margin-top: 1.5rem;
    width: 50vw;
    height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .svg {
    height: 75%;
  }
  .button-wrapper {
    width: 100%;
  }
  
  .button:hover {
    background-color: #fff;
    color: #55198b;
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
  }
  
  .button-link {
    text-decoration: none;
  }
  
  .button {
    background-color: #55198b;
    border: 1px solid #55198b;
    color: #fff;
    font-weight: 700;
    min-width: 200px;
    padding: 13px 22px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-top: 3.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
  }
    .paragraph{
    color: #ede0f8;
    padding: 1rem 0 ;
   
  }
  .contact-btn {
    margin-right: 1rem;
  }
  @media screen and (max-width: 1150px) {
    .home-container {
      flex-direction: column;
      margin-bottom: 20rem;
    }
    .content-container {
      padding-top: 5rem;
      width: 100vw;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .svg-container {
      margin-top: 0;
      width: 70vw;
      height: 26rem;
      margin-bottom: 10rem;
    }
    .paragraph{
      /* text-align: justify; */
      /* text-align: right; */
      text-align: left;
      color: #ede0f8;
      padding: 1rem 10rem ;
     
    }
  }


  @media screen and (max-width: 900px) {
    .paragraph{

      text-align: center;

      padding: 1rem 2rem ;
     
    }
    .svg-container {
      display: none;
    }
  
    .svg {
      height: 0%;
    }
  }