#Project h2{
    text-align: center;
    margin-top: 2rem;
    padding: 10rem 10rem;
}
.project-container{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.project-item{
    list-style: none;
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}
.project-item:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}
.project-item:nth-of-type(2n+1) .project-detail {
    grid-column: 5 / -1;
    text-align: right;
}

.project-item .project-detail {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}
.project-overline{
    margin: 10px 0px;
    /* text-align: right; */
    color: greenyellow;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 13px;
    font-weight: 400;
}
.the{
    color: aqua;
}
.project-item .project-title {
    color: #f1b7b2 !important;
    font-size: clamp(24px, 5vw, 28px);
    /* text-align: right; */
}
.project-container {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.35);
}
a[target="_blank"] {
    cursor: ne-resize;
}
.project-container a {
    position: relative;
    z-index: 1;
}
.project-description {
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.7);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: #4713d4;
    color: #d1daf5;
    font-size: 18px;
}
.project-item:nth-of-type(2n+1) .project-tech-list {
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.project-item .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}
.project-item:nth-of-type(2n+1) .project-tech-list li {
    margin: 0px 0px 5px 20px;
}
.project-item .project-tech-list li {
    margin: 0px 20px 5px 0px;
    color: #7215dd;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 13px;
    white-space: nowrap;
}
.project-item:nth-of-type(2n+1) .project-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
}
.project-item .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: #ccd6f6;
}
.project-item .project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
}
.project-item .project-links a svg {
    width: 20px;
    height: 20px;
}
.project-links a.external svg {
    width: 22px;
    height: 22px;
    margin-top: -4px;
}
.project-item:nth-of-type(2n+1) .project-image {
    grid-column: 1 / 8;
}
.project-item .project-image {
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.3);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}
.project-item .project-image a {
    width: 100%;
    height: 100%;
    background-color: #64ffda;
    border-radius: 4px;
    vertical-align: middle;
}
.project-item:nth-of-type(2n+1)
.project-detail {
    grid-column: 7 / -1;
}
/* @media (max-width: 1080px){

.project-item:nth-of-type(2n+1)
.project-detail {
    grid-column: 7 / -1;
} */

@media (max-width: 1080px){

.project-item:nth-of-type(2n+1)
.project-detail {
    grid-column: 5 / -1;
}
}

@media (min-width: 768px){

.project-item .project-title {
    margin: 0px 0px 20px;
}
}